.filter-modal-container {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  right: 0;
  width: 112px;
  height: 132px;
  background-color: var(--primary-red-color);
  z-index: 20;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  padding: 4px;
  border-radius: 16px;
}

.sortby-text {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 8px 20px;
  font-size: 12px;
  line-height: 16px;
  color: white;
  font-weight: 700;
}

.filter-open-state-bg {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100dvh;
  width: 100dvw;
  z-index: 20;
}

.filters-inputs-wrapper {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.filter-input-option {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.filter-option-label {
  font-size: 10px;
  line-height: 16px;
  display: inline-block;
  width: 40px;
}

.input-radio:checked {
  background-color: var(--primary-red-color);
}
