.detail-stats-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin-top: 16px;
}

.info-main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  width: 100px;
  position: relative;
}

.border-right {
  border-right: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.border-none {
  border: none;
}

.info-with-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.info-stats-value {
  font-size: 10px;
  line-height: 16px;
  color: var(--gray-scale-dark);
}

.info-stats-label {
  position: absolute;
  bottom: 0;
  font-size: 8px;
  line-height: 12px;
  color: var(--gray-scale);
}

.abilities-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 14px;
}

.abilities-text {
  font-size: 10px;
  line-height: 16px;
  color: var(--gray-scale);
}
