.pokemon-card-container {
  width: 104px;
  height: 108px;
  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 8px;
  position: relative;
}

.pokemon-info-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  border: none;
  background-color: transparent;
}

.pokemon-image {
  width: 72px;
  height: 72px;
}

.pokemon-number {
  color: var(--gray-scale);
  font-size: 8px;
  line-height: 12px;
  display: inline-flex;
  width: 100%;
  justify-content: end;
}

.pokemon-name {
  font-size: 10px;
  line-height: 16px;
  color: var(--gray-scale-dark);
}

.background-gray {
  background-color: var(--gray-scale-bg);
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
}
