.header-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  width: 100dvw;
  padding: 16px;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

.filters-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-icon {
  background-color: white;
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 100%;
}

.button-icon-image {
  object-fit: cover;
}
