.stats-container {
  width: 100%;
  max-width: 380px;
  font-family: sans-serif;
  position: relative;
  margin: 16px auto 0px;
  display: flex;
  gap: 16px;
}

.stat-row {
  display: grid;
  grid-template-columns: 1fr;
  height: 16px;
  align-items: center;
  margin-bottom: 4px;
}

.stat-label-wrapper {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: end;
  justify-content: space-between;
}

.stat-label {
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  text-align: end;
}

.stat-value {
  font-size: 10px;
  line-height: 16px;
  display: block;
  max-width: min-content;
  color: var(--gray-scale-dark);
}

.stat-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stat-bar {
  height: 6px;
  background-color: #fef5d6;
  border-radius: 999px;
  overflow: hidden;
}

.stat-bar-fill {
  height: 100%;
  border-radius: 999px;
  transition: width 0.3s ease-in-out;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: var(--gray-scale-light);
  position: absolute;
  left: 2.2rem;
}
