.detail-page-main-wrapper {
  height: 100dvh;
  width: 100dvw;
  position: relative;
}

.background-color-electric {
  background-color: var(--color-type-electric);
}

.background-color-grass {
  background-color: var(--color-type-grass);
}

.background-color-fire {
  background-color: var(--color-type-fire);
}

.background-color-water {
  background-color: var(--color-type-water);
}

.background-color-bug {
  background-color: var(--color-type-bug);
}

.background-color-ghost {
  background-color: var(--color-type-ghost);
}

.background-color-normal {
  background-color: var(--color-type-normal);
}

.background-color-physic {
  background-color: var(--color-type-physic);
}

.background-color-steel {
  background-color: var(--color-type-steel);
}

.pokeball-background {
  position: absolute;
  top: 8px;
  right: 8px;
}
