.detail-page-main-wrapper {
  height: 100dvh;
  width: 100dvw;
  position: relative;
}

.pokeball-background {
  position: absolute;
  top: 8px;
  right: 8px;
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
