.list-pokemons-main-wrapper {
  width: 97dvw;
  height: 100%;
  margin: 0 auto;
  padding: 8px 16px;
  background-color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-template-rows: repeat(auto-fill, 110px);
  gap: 12px 0;
  overflow: scroll;
  position: relative;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

.spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
