:root {
  font-family: 'Poppins', sans-serif;
  --primary-red-color: #dc0a2d;
  --gray-scale: #666666;
  --gray-scale-light: #e0e0e0;
  --gray-scale-dark: #1d1d1d;
  --gray-scale-bg: #efefef;

  /* Pokemon types colors */
  --color-type-grass: #74cb48;
  --color-type-electric: #f9cf30;
  --color-type-fire: #f57d31;
  --color-type-water: #6493eb;
  --color-type-bug: #a7b723;
  --color-type-ghost: #70559b;
  --color-type-normal: #aaa67f;
  --color-type-physic: #fb5584;
  --color-type-steel: #b7b9d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-color-electric {
  background-color: var(--color-type-electric);
}

.background-color-grass {
  background-color: var(--color-type-grass);
}

.background-color-fire {
  background-color: var(--color-type-fire);
}

.background-color-water {
  background-color: var(--color-type-water);
}

.background-color-bug {
  background-color: var(--color-type-bug);
}

.background-color-ghost {
  background-color: var(--color-type-ghost);
}

.background-color-normal {
  background-color: var(--color-type-normal);
}

.background-color-physic {
  background-color: var(--color-type-physic);
}

.background-color-steel {
  background-color: var(--color-type-steel);
}
