:root {
  font-family: 'Poppins', sans-serif;
  --primary-red-color: #dc0a2d;
  --gray-scale: #666666;
  --gray-scale-light: #e0e0e0;
  --gray-scale-dark: #1d1d1d;
  --gray-scale-bg: #efefef;

  /* Pokemon types colors */
  --color-type-grass: #74cb48;
  --color-type-electric: #f9cf30;
  --color-type-fire: #f57d31;
  --color-type-water: #6493eb;
  --color-type-bug: #a7b723;
  --color-type-ghost: #70559b;
  --color-type-normal: #aaa67f;
  --color-type-physic: #fb5584;
  --color-type-steel: #b7b9d0;

  --color-type-grass-light: #e3f5da;
  --color-type-electric-light: #fef5d6;
  --color-type-fire-light: #fde4d8;
  --color-type-water-light: #e0e9fa;
  --color-type-bug-light: #edf2d5;
  --color-type-ghost-light: #e2ddea;
  --color-type-normal-light: #eeede6;
  --color-type-physic-light: #fedce6;
  --color-type-steel-light: #f1f1f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* background colors  */

.background-color-electric {
  background-color: var(--color-type-electric);
}

.background-color-grass {
  background-color: var(--color-type-grass);
}

.background-color-fire {
  background-color: var(--color-type-fire);
}

.background-color-water {
  background-color: var(--color-type-water);
}

.background-color-bug {
  background-color: var(--color-type-bug);
}

.background-color-ghost {
  background-color: var(--color-type-ghost);
}

.background-color-normal {
  background-color: var(--color-type-normal);
}

.background-color-physic {
  background-color: var(--color-type-physic);
}

.background-color-steel {
  background-color: var(--color-type-steel);
}

/* background colors light  */
.background-color-electric-light {
  background-color: var(--color-type-electric-light);
}

.background-color-grass-light {
  background-color: var(--color-type-grass-light);
}

.background-color-fire-light {
  background-color: var(--color-type-fire-light);
}

.background-color-water-light {
  background-color: var(--color-type-water-light);
}

.background-color-bug-light {
  background-color: var(--color-type-bug-light);
}

.background-color-ghost-light {
  background-color: var(--color-type-ghost-light);
}

.background-color-normal-light {
  background-color: var(--color-type-normal-light);
}

.background-color-physic-light {
  background-color: var(--color-type-physic-light);
}

.background-color-steel-light {
  background-color: var(--color-type-steel-light);
}

/* text colors by pokemon */

.text-color-electric {
  color: var(--color-type-electric);
}

.text-color-grass {
  color: var(--color-type-grass);
}

.text-color-fire {
  color: var(--color-type-fire);
}

.text-color-water {
  color: var(--color-type-water);
}

.text-color-bug {
  color: var(--color-type-bug);
}

.text-color-ghost {
  color: var(--color-type-ghost);
}

.text-color-normal {
  color: var(--color-type-normal);
}

.text-color-physic {
  color: var(--color-type-physic);
}

.text-color-steel {
  color: var(--color-type-steel);
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

/* Spinner styles */
.spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
