.pokemon-type-tag-wrapper {
  width: 50px;
  height: 20px;
  background-color: var(--color-type-electric);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-type-tag-text {
  color: white;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
}
