.detail-info-wrapper {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 65%;
  position: absolute;
  bottom: 0;
  width: 97dvw;
  margin: 0 auto;
  background-color: white;
  left: 50%;
  transform: translate(-50%);
  padding: 16px;
}

.info-section-wrapper {
  margin-top: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-wrapper {
  margin-top: 16px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.about-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--color-type-electric);
}

.pokemon-description {
  display: inline-block;
  width: 100%;
  max-width: 312px;
  padding-left: 18px;
  margin: 20px auto 0px;
  font-size: 10px;
  line-height: 16px;
  color: var(--gray-scale-dark);
}

.base-stats-text-wrapper {
  margin-top: 24px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.base-stats-text {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--color-type-electric);
}
