.header-detail-page-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}

.header-name-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.header-name {
  font-size: 24px;
  line-height: 32px;
  color: white;
  font-weight: 700;
}

.back-button {
  border: none;
  background-color: transparent;
}

.header-id-tag {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: white;
}
